<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "shared/side_bar"%>
  </div>

  <div class = "main about_me">
    <div class = "about_me_left">
    </div>

    <div class = "about_me_right">
      <div class = "history">
      自分の経歴
      </div>

      <div class = "skill">
        自分のスキル
      </div>
    </div>
  </div>
</div>