<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "shared/side_bar"%>
  </div>

  <div class = "main about_me">
    <div class = "about_me_left">
    </div>

    <div class = "about_me_right">
      <div class = "history">
        <div class = "history_tytle">経歴</div>
        <div class = "history_name">名前：猪飼航一郎 / Koichiro Ikai</div>
        <div class = "history_age">生年月日：1993年4月12日</div>
        <div class = "history_edu">最終学歴：豊橋技術科学大学大学院卒</div>
        <div class = "history_rireki">
        大学卒業後、営業として製本機械販売会社に入社。<br>
        会社のホームページを作成する機会があり、ITの業種に興味をもつ。<br>
        一社目を退社後、インフラ系のIT企業へ入社。<br>
        そこで自分が実際にやりたいのはWebアプリケーション開発であると気付き、退職。<br>
        基礎的なWebアプリケーションについて学ぶため、TechCampを受講。<br>
        TechCamp81期生として卒業し、現在Webエンジニアを目指して転職活動中。
        </div>
      </div>

      <div class = "skill">
        <div class = "histroy_tytle">Skills</div>
        <div class = "skill_book">
          <div class = "skill_category">
            英語
          </div>
          <div class = "skill_level">
            英語検定２級
          </div>
          <div class = "skill_level">
            Toeic　890点
          </div>
        </div>

        <div class = "skill_book">
          <div class = "skill_category">
            言語
          </div>
          <div class = "skill_level">
            Ruby/Rails
          </div>
        </div>

        <div class = "skill_book">
          <div class = "skill_category">
            インフラ
          </div>
          <div class = "skill_level">
            CCNA
          </div>
          <div class = "skill_level">
            AWS
          </div>
        </div>
      </div>
    </div>
  </div>
</div>