<%= link_to root_path, class:"side_top" do %>
    <div class = "side_title">
      Koichiro Ikai <br>
      Portfolio
    </div>
<% end %>

  <%= link_to "#", class: "side_bottom" do %>
    <div class = "side_title">
      AboutMe
    </div>
  <% end %>

  <%= link_to "#", class: "side_bottom" do %>
    <div class = "side_title">
      MyWork
    </div>
  <% end %>

  <%= link_to "#", class: "side_bottom" do %>
    <div class = "side_title">
      Contact
    </div>
  <% end %>