<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "side_bar"%>
  </div>

  <div class = "main">
    <div class = "main_left">
      <p>Welcome to my portfolio!!</p>
    </div>
    <div class = "main_right">
        <div class = "my_twitter">
        twitter
      </div>

      <div class = "update">
        更新履歴
      </div>
    </div>
  </div>
</div>