<%= link_to root_path, class:"side_top" do %>
    <div class = "side_title">
      Koichiro Ikai <br>
      Portfolio
      
    </div>
<% end %>

  <%= link_to about_me_index_path, class: "side_bottom" do %>
    <div class = "side_title">
      AboutMe
    </div>
  <% end %>

  <%= link_to my_work_index_path, class: "side_bottom" do %>
    <div class = "side_title">
      MyWork
    </div>
  <% end %>

  <%= link_to contact_index_path, class: "side_bottom" do %>
    <div class = "side_title">
      Contact
    </div>
  <% end %>