<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "shared/side_bar"%>
  </div>

  <div class = "main my_work">
    <div class = "work_wrapper">

      <div class = "work_colum" >
        <div class = "work_pic">
        </div>
        <div class = "work_exp">
          サイト名<br>
          URL <br>
          github <br>
          概要 <br>
        </div>
      </div>

      <div class = "work_colum">
        <div class = "work_pic">
        </div>
        <div class = "work_exp">
        </div>
      </div>

      <div class = "work_colum">
        <div class = "work_pic">
        </div>
        <div class = "work_exp">
        </div>
      </div>
      <div class = "work_colum">
        <div class = "work_pic">
        </div>
        <div class = "work_exp">
        </div>
      </div>     
    </div>
  </div>
</div>