.about_me {
  background-image: url(/assets/about_me.jpg);
  background-size: cover;
}

.about_me_left {
  opacity: 0.5;
  width: calc((100vw - 300px) / 2);
}

.about_me_right {
  width: calc((100vw - 300px) / 2);
}

.history {
  background-color: chocolate;
  opacity: 0.5;
  height: 50vh;
}

.skill {
  background-color: cornflowerblue;
  opacity: 0.5;
  height: 50vh;
}
