.my_work {
  background-image: url(/assets/my_work.jpg);
  background-size: cover;
}

.work_wrapper {
  background-color: crimson;
  opacity: 0.5;
  width: calc(100vw - 700px);
  margin: 0 200px 0 200px;
}
